.container {
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 75px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 71px;
  }
}
