{{!-- <select name="genres" id="genres">
    {{!-- <option value="genres">Genres</option> --}}
{{#each this}}
<option value="{{this.name}}" data-id="{{this.id}}">{{this.name}}</option>
{{/each}}
</select> --}}