{{#each this}}
<li class="hackers-list-item">
    <div class="hackers-wrapper">
        <img class="hackers-img" src="{{smallPhoto}}" alt="{{name}}" />
        <h3 class="hackers-name">{{name}}</h3>
        <p class="hackers-developer">{{position}}</p>
    </div>
</li>
{{/each}}