{{#if key}}
<div class="modal-trailer-backdrop">
        <div class="modal-trailer-container">
          <button
            type="button"
            class="close-trailer-btn material-icons"
            data-action="close-trailer">
            close
          </button>
          <iframe src="https://www.youtube.com/embed/{{key}}" class="trailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div >
{{else}}
    <div class="modal-trailer-backdrop">
        <div class="modal-trailer-container">
            <button
            type="button"
            class="close-trailer-btn material-icons"
            data-action="close-trailer">
            close
          </button>
            <img src="https://linuxliaison.org/wp-content/uploads/2017/10/Screenshot-from-2017-10-16-23-05-56.png" class="trailer" />
        </div >
      </div >
{{/if}}

