$main-font: 'Roboto', sans-serif;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$modal-text-color: #8c8c8c;
$footer-text-color: #545454;
$error-text-color: #ff001b;
$accent-color: #ff6b08;

$background-color: #f7f7f7;
$overlay-color: rgba(0, 0, 0, 0.25);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
