$main-font: 'Roboto', sans-serif;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$modal-text-color: #8c8c8c;
$footer-text-color: #2c2c2c;
$error-text-color: #ff001b;
$accent-color: #ff6b08;
$dark-theme-color: rgb(14, 13, 13);
$dark-theme-color: #3a3a3a;

$go-up-background: #8c8c8c4b;

$notification-success: #ff6b08d5;
$background-auth-form: #000000d7;
$backdrop-auth-form: #000000a8;
$button-auth-open: #00000080;
$invalid: salmon;

$background-color: #f7f7f7;
$overlay-color: rgba(0, 0, 0, 0.25);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
