<button type="button" class="button-up">
  <span class="arrow material-icons"> keyboard_arrow_up </span>
</button>
<div class="modal-auth">
  <div class="modal-auth-backdrope">
    <div class="modal-auth-content">
      <div class="modal-auth-controls" data-controls>
        <a
          href="#sign-in"
          class="controls__item controls__item--active sign-in-tab"
          >Log In</a
        >
        <a href="#sign-up" class="controls__item controls__item--inactive"
          >Create Account</a
        >
      </div>
      <div class="panes" data-panes>
        <div class="pane pane--active" id="sign-in">
          <form class="sign-in-form">
            <label class="sign-in-form-label email-label" for="email"
              >Email:
              <input
                class="sign-in-form-input email"
                type="email"
                name="email"
                placeholder="Enter email..."
                required
              />
            </label>
            <label class="sign-in-form-label password-label" for="password"
              >Password:
              <input
                class="sign-in-form-input password"
                type="password"
                name="password"
                placeholder="Enter password..."
                required
                minlength="6"
                maxlength="20"
              />
            </label>
            <button class="sign-in-form-submit sign-in" type="submit">
              LogIn
            </button>
          </form>
        </div>
        <div class="pane" id="sign-up">
          <form class="sign-up-form">
            <label class="sign-up-form-label email-label" for="email"
              >Email:
              <input
                class="sign-up-form-input email"
                type="email"
                name="email"
                placeholder="Enter email..."
                required
              />
            </label>
            <label class="sign-up-form-label password-label" for="password"
              >Password:
              <input
                class="sign-up-form-input password"
                type="password"
                name="password"
                placeholder="Enter password..."
                required
                minlength="6"
                maxlength="20"
              />
            </label>
            <label
              class="sign-up-form-label password-repeat-label"
              for="password"
              >Password:
              <input
                class="sign-up-form-input password-repeat"
                type="password"
                name="repeatPassword"
                placeholder="Repeat password..."
                required
                minlength="6"
                maxlength="20"
              />
            </label>
            <button class="sign-up-form-submit sign-up" type="submit">
              SignUp
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="request-error visually-hidden">
  <h3>SORRY 😔</h3>
  <p>The resource you requested could not be found.</p>
</div>
