<!-- модалка группы -->
<div class="students-modal">
  <div class="hackers-backdrop hide-hackers" data-hackers-backdrop>
    <div class="hackers-modal">
      <button
        type="button"
        class="hackers-modal-close-button material-icons"
        data-action="hackers-cls-btn"
      >
        close
      </button>
      <h2 class="hackers-title">
        Hackers-<span class="hackers-accent">Gang</span>
      </h2>
      <ul class="hackers-list"></ul>
    </div>
  </div>
  <!-- big student's card -->
  <div class="hacker-modal-backdrop hide-hacker">
    <div class="hacker-modal-in-modal">
      <button
        type="button"
        class="hacker-modal-close-button material-icons"
        data-action="hacker-cls-btn"
      >
        close
      </button>
      <div class="hacker-modal-card-wrapper"></div>
    </div>
  </div>
</div>
