.sign-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  padding: 30px;
  border-radius: 0px 0px 5px 5px;
  background-color: $background-color;
  z-index: 105;

  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: left;
    color: $secondary-text-color;
    margin-bottom: 15px;
  }

  &-input {
    margin-left: 15px;
    padding: 3px;
    border-radius: 5px;
    width: 100px;
  }

  &-submit {
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: $primary-text-color;
    border-radius: 5px;
    font-size: 16px;
    transition: color, background-color,
      $transition-duration $transition-timing-function;
    outline: none;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $accent-color;
      color: $primary-text-color;
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.valid {
  border: 2px solid $accent-color;
}

.invalid {
  border: 2px solid $invalid;
}

.modal-auth {
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition-duration $transition-timing-function;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }

  &-backdrope {
    position: absolute;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
  }

  &-content {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform $transition-duration $transition-timing-function;
  }
  &-controls {
    display: flex;
  }
}
.controls__item {
  width: 50%;
  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid $background-color;
  color: $primary-text-color;
  font-weight: 500;
  text-decoration: none;
}

.controls__item--active {
  background-color: $background-color;
  color: $accent-color;
}

.auth-open-modal-button {
  margin-right: 20px;
  color: $primary-text-color;
  padding: 2px 5px;

  background-color: $dark-theme-color;

  border-radius: 50em;
  outline: none;
  border: none;

  font-size: 10px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accent-color;
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .sign-in-form,
  .sign-up-form {
    padding: 50px;

    &-input {
      width: 250px;
    }

    &-submit {
      width: 80px;
      height: 44px;
    }
  }
}

.pane {
  display: none;
}

.pane--active {
  display: block;
}
