.filter-container {
  position: absolute;
  top: 210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.filter-button {
  width: 130px;
  height: 44px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: $primary-text-color;
  background-color: $accent-color;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 4;
  @media screen and (min-width: $tablet) {
    width: 136px;
    height: 44px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

.filter-wrapper {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.select-genre-item {
  width: 130px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: $footer-text-color;
  border: none;
  outline: none;

  @media screen and (min-width: $tablet) {
    width: 136px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

input[type='radio'] {
  display: none;
}

.select-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: -10px;
  z-index: 2;
  background-color: $background-color;
}
