.button-up {
  position: absolute;
  position: fixed;
  bottom: 10%;
  right: 10%;

  background-color: #8c8c8c4b;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  transition: color, background-color,
    $transition-duration $transition-timing-function;
}

.button-up:hover,
.button-up:focus {
  cursor: pointer;
  background-color: $accent-color;
}
.btn-submit {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
