.button-up {
  position: absolute;
  position: fixed;
  bottom: 10%;
  right: 10%;

  background-color: $go-up-background;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  transition: color, background-color,
    $transition-duration $transition-timing-function;

  &:hover {
    cursor: pointer;
    background-color: $accent-color;
    outline: none;
  }

  &:active {
    background-color: $go-up-background;
  }
}
