// * {
//   outline: 1px solid salmon;
// }

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: $primary-text-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $accent-color;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition-duration $transition-timing-function;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }

  &-backdrope {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
  }

  &-content {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%) scale(1);
    max-width: 280px;
    max-height: 958px;
    padding: 48px 20px 41px 20px;
    background-color: $primary-text-color;
    transition: transform $transition-duration $transition-timing-function;
  }

  &-close-button {
    position: absolute;
    top: 10px;
    right: 18px;
    color: $secondary-text-color;
    font-size: 30px;
    border: none;
    background-color: $primary-text-color;
    transition: color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $accent-color;
    }
  }

  &-card-img {
    position: relative;
    cursor: pointer;
    width: 240px;
    height: 356.57px;
    object-fit: contain;
    border-radius: 5px;
  }

  &-card-title {
    text-transform: uppercase;
    margin-top: 30px;
    @extend %standart-text-style;
    font-size: 20px;
    line-height: 23px;
  }

  &-card-info-list {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    @extend %list;
  }

  &-card-film-info {
    display: flex;
  }

  &-list-item {
    display: flex;
  }

  &-card-info-list-item {
    display: flex;
    width: 300px;
    @extend %standart-text-style;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-text-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-value-name {
    color: $modal-text-color;
  }

  &-rate {
    text-align: center;
    background-color: $background-color;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    transition: color,
      background-color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $accent-color;
      color: $primary-text-color;
    }
  }

  &-stick {
    color: $modal-text-color;
    margin-right: 3px;
    margin-left: 3px;
  }

  &-original-title {
    text-transform: uppercase;
  }

  &-card-about-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    @extend %standart-text-style;
    font-size: 12px;
    line-height: 16px;
  }

  &-card-about {
    max-height: 150px;
    margin-bottom: 20px;
    padding-right: 5px;
    @extend %standart-text-style;
    font-size: 12px;
    line-height: 20px;
    overflow: auto;
    color: $secondary-text-color;
  }

  &-button-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-card-button {
    text-align: center;
    text-transform: uppercase;
    width: 112.58px;
    height: 44px;
    background-color: $primary-text-color;
    border-radius: 5px;
    border: 1px solid $secondary-text-color;
    font-size: 12px;
    line-height: 16px;
    transition: color, background-color,
      $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $accent-color;
      color: $primary-text-color;
      border: 1px solid $accent-color;
    }
  }

  @media screen and (min-width: 768px) {
    &-card {
      display: flex;
    }

    &-content {
      max-width: 618px;
      max-height: 562px;
      padding: 42px 28px 41px 40px;
    }

    &-card-img {
      margin-right: 32px;
      width: 264px;
      height: 373.55px;
    }

    &-card-title {
      margin-top: 0;
    }

    &-button-div {
      justify-content: center;
    }

    &-card-button {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &-content {
      max-width: 882px;
      max-height: 568px;
      padding: 50px 30px 41px 30px;
    }

    &-close-button {
      top: 18px;
      font-size: 40px;
    }

    &-card-img {
      cursor: pointer;
      width: 396px;
      height: 477px;
    }

    &-card-about {
      width: 396px;
      max-height: 160px;
    }

    &-card-title {
      font-size: 30px;
      line-height: 35px;
    }

    &-button-div {
      justify-content: flex-start;
    }
  }
}
