.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}
.pagination-wrapper {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tui-pagination {
  height: 28px;
  margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 28px;
  padding: 6px 0 6px;
  margin: 0 2px 0 0;
  color: $secondary-text-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  text-decoration: none;
  vertical-align: middle;
  transition: transform $transition-duration $transition-timing-function;
  border-radius: 5px;
  border: 1px solid #ddd;
  @media screen and (max-width: $tablet) {
    font-size: 8px;
    margin: 0;
    width: 20px;
    padding: 4px 0 4px;
  }
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: $primary-text-color;
  background: $accent-color;
  border-color: $accent-color;
  cursor: default;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: 1px solid #ddd;
  @media screen and (max-width: $tablet) {
    height: 20px;
  }
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.tui-pagination .tui-prev {
  margin-right: 10px;
}

.tui-pagination .tui-next {
  margin-left: 10px;
}

.tui-pagination .tui-is-disabled:hover {
  // background: #fff;
  cursor: default;
}
// dark-theme
.tui-pagination .dark-theme {
  color: $primary-text-color;
  fill: $accent-color;
}

.tui-icon-dots,
.tui-icon-arrow {
  fill: inherit;
  transform: translate(0px, 4px);
  @media screen and (max-width: $tablet) {
    transform: translate(0px, 1px);
  }
}
.tui-is-disabled .tui-icon-arrow {
  fill: #ddd;
}
.tui-is-disabled .dark-theme .tui-icon-arrow {
  fill: #ddd;
}
