body.light-theme {
  background-color: $primary-text-color;
  color: $dark-theme-color;
}

body.dark-theme {
  background-color: #252525;
  color: $primary-text-color;
  scrollbar-color: dark;

  & ::-webkit-scrollbar {
    background-color: #919191;
  }
}
.dark-theme ::-webkit-scrollbar {
  background-color: #919191;
}

.footer.dark-theme {
  background-color: rgba(12, 12, 12, 0.8);
  color: $primary-text-color;
}

.modal-content.dark-theme,
.modal-content.dark-theme .modal-close-button,
.hackers-modal.dark-theme,
.hackers-modal.dark-theme .hackers-modal-close-button {
  background-color: #575757;
  color: $primary-text-color;
}

.hacker-modal-in-modal.dark-theme,
.hacker-modal-in-modal.dark-theme .hacker-modal-close-button,
.base-layer-sort-by.dark-theme,
.base-layer-sort-by.dark-theme .select-content,
.base-layer-sort-by.dark-theme .select-genre-item,
.base-layer-for-genres.dark-theme,
.base-layer-for-genres.dark-theme .select-content,
.base-layer-for-genres.dark-theme .select-genre-item {
  background-color: #747474;
  color: $primary-text-color;
}

.modal-content.dark-theme .modal-close-button,
.hackers-modal.dark-theme .hackers-modal-close-button,
.hacker-modal-in-modal.dark-theme .hacker-modal-close-button {
  border: none;
  &:hover,
  &:focus {
    outline: none;
    color: $accent-color;
  }
}

.sign-in-form.dark-theme,
.sign-up-form.dark-theme {
  background-color: rgba(87, 87, 87, 0.98);
}

.sign-in-form.dark-theme .sign-in-form-label,
.sign-up-form.dark-theme .sign-up-form-label {
  color: $primary-text-color;
}

.modal-auth-controls.dark-theme .controls__item {
  border: 1px solid #919191;
}
.modal-auth-controls.dark-theme .controls__item--active,
.modal-auth-controls.dark-theme .controls__item--inactive {
  background-color: rgba(87, 87, 87, 0.98);
  color: $primary-text-color;
  border: none;
  border-bottom: 1px solid #919191;
}

.modal-auth-controls.dark-theme .controls__item--active {
  border-left: 3px solid $accent-color;
  border-top: 3px solid $accent-color;
  border-right: 3px solid $accent-color;
  color: $accent-color;
}
.modal-auth-controls.dark-theme .controls__item--inactive {
  border-bottom: 3px solid $accent-color;
}

.sign-in-form.dark-theme .sign-in-form-input,
.sign-up-form.dark-theme .sign-up-form-input,
.sign-in-form.dark-theme .sign-in-form-submit,
.sign-up-form.dark-theme .sign-up-form-submit {
  border: 1px solid transparent;
  &:hover,
  &:focus {
    //outline: none;
    border: 1px solid $accent-color;
    outline: $accent-color;
  }
}

.base-layer-sort-by.dark-theme .select-genre-item,
.base-layer-for-genres.dark-theme .select-genre-item {
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accent-color;
  }
}

.modal-content.dark-theme .modal-card-button {
  border: none;
}

.footer.dark-theme a {
  color: $primary-text-color;
}

.footer.dark-theme a:hover,
.footer.dark-theme a:focus {
  color: $accent-color;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.switch-theme {
  display: flex;
  align-items: center;

  &-icon {
    position: relative;
    pointer-events: none;
    color: $primary-text-color;
    height: 15px;
    width: 15px;
    margin-right: 4px;
    margin-left: 4px;
  }

  &-control {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 40px;
    height: 18px;
    border-radius: 50em;
    padding: 2px 0;
  }

  &-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  &-track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: $dark-theme-color;
    border-radius: inherit;
    cursor: pointer;
  }

  &-checkbox:checked + .switch-theme-track {
    background-color: $modal-text-color;
  }
}

.accent-icon {
  color: $accent-color;
}
