.header-library {
  min-height: 230px;
  padding: 46px 0px 65px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/library-page/mobile-bg.jpg');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: $mobile),
  screen and (min-resolution: 192dpi) and (max-width: $mobile),
  screen and (min-resolution: 2dppx) and (max-width: $mobile) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-page/mobile-bg@2x.jpg');
  }
}

@media screen and (min-width: $tablet) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-page/tablet-bg.jpg');
    padding: 41px 0px 65px 0px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
  screen and (min-resolution: 192dpi) and (min-width: $tablet),
  screen and (min-resolution: 2dppx) and (min-width: $tablet) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-page/tablet-bg@2x.jpg');
  }
}

@media screen and (min-width: $desktop) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-page/desktop-bg.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
  screen and (min-resolution: 192dpi) and (min-width: $desktop),
  screen and (min-resolution: 2dppx) and (min-width: $desktop) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-page/desktop-bg@2x.jpg');
  }
}
