.movies {
  padding: 20px 0 40px;
}
.movies-list {
  @extend %list;
}
.movie-item {
  max-width: 280px;
}
.movie-item:not(:last-child) {
  margin-bottom: 30px;
}
.movie-img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.movie-title {
  margin-bottom: 7px;
}

.movie-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $accent-color;
}

// .movies-line-before::before {
//   content: '';
//   margin-right: 5px;
//   left: 0;
//   bottom: 0;
//   width: 1px;
//   height: 10px;
//   display: inline-block;
//   background-color: $accent-color;
// }

@media screen and (min-width: $tablet) {
  .movies {
    padding: 60px 0 50px;
  }
  .movies-list {
    display: flex;
    flex-wrap: wrap;
  }
  .movie-item {
    max-width: 294px;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1023px) {
  .movies-list {
    margin: -15px;
  }
  .movie-item {
    margin: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .movie-item {
    max-width: 274px;
  }
  .movie-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .movie-item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}
